.booking_input {
    width: 300px;
    margin: 10px 0px !important;
}

.booking {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.booking_background {
    background-color: aquamarine;
    padding: 20px;
    border-radius: 15px;
}

.booking #location {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.booking #slider {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.booking_btn {
    margin: 10px 0px !important;
}